<.simple_form for={@form} phx-change="validate" phx-submit="create">
  <.input field={@form[:title]} label="Название теста" />
  <fieldset phx-feedback-for={@form[:options].name}>
    <.inputs_for :let={task_form} field={@form[:tasks]}>
      <.live_component id={System.unique_integer()} module={TaskForm} form={task_form} />
    </.inputs_for>
    <.button class="btn-secondary" type="submit" name="add-task">Добавить вопрос</.button>
    <.input_error field={@form[:tasks]} />
  </fieldset>
  <:actions>
    <.button class="btn-primary">Сохранить</.button>
  </:actions>
</.simple_form>
<.link class="btn btn-primary" href={~p"/tests"}>Отмена</.link>
