<ul>
  <li :for={test <- @tests} class="mb-4">
    <span><%= test.title %></span>
    <.link class="btn btn-primary" navigate={~p"/tests/#{test}/exam"}>К тесту</.link>
    <.link class="btn btn-secondary" navigate={~p"/tests/#{test}/edit"}>Редактировать</.link>
  </li>
</ul>

<.link class="btn btn-primary" navigate={~p"/tests/new"}>Создать новый тест</.link>
