<h1 class="text-4xl">Список тестов</h1>
<ul class="pt-10">
  <li :for={test <- @tests} class="mb-4">
    <span><%= test.title %></span>
    <.link class="btn btn-primary" href={~p"/tests/#{test}/exam"}>К тесту</.link>
    <.link class="btn btn-secondary" href={~p"/tests/#{test}/edit"}>Редактировать</.link>
  </li>
</ul>

<.link class="btn btn-primary" href={~p"/tests/new"}>Создать новый тест</.link>
