<ul>
  <li :for={test <- @tests}>
    <p><%= test.title %></p>
    <.link navigate={~p"/tests/#{test}/edit"}><%= gettext("Edit") %></.link>
  </li>
</ul>
<.link navigate={~p"/tests/new"}><%= gettext("Create new") %></.link>
