<.header>
  Test <%= @test.title %>
  <:subtitle>This is a test record from your database.</:subtitle>
</.header>

<.live_component
  :if={@live_action == :edit}
  module={TestiroomWeb.TestLive.Components.EditTest}
  id={@test.id}
  title={@page_title}
  test={@test}
/>

<.back navigate={~p"/tests"}>Back to tests</.back>
