<.test_editor_header test_id={@test.id}>
  <%= gettext("Test") %> "<%= @test.title %>"
</.test_editor_header>

<.live_component module={TestiroomWeb.TestLive.Components.EditTest} id={@test.id} title={@page_title} test={@test} />
