<.header>
  Listing Tests
  <:actions>
    <.link patch={~p"/tests/new"}>
      <.button>New Test</.button>
    </.link>
  </:actions>
</.header>

<.table id="tests" rows={@streams.tests}>
  <:col :let={{_id, test}} label="Title"><%= test.title %></:col>
  <:col :let={{_id, test}} label="Starts at"><%= test.starts_at %></:col>
  <:col :let={{_id, test}} label="Ends at"><%= test.ends_at %></:col>
  <:action :let={{_id, test}}>
    <.link navigate={~p"/tests/#{test}"}>
      Edit
    </.link>
  </:action>
  <:action :let={{id, test}}>
    <.link phx-click={JS.push("delete", value: %{id: test.id}) |> hide("##{id}")} data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action == :new} id="test-modal" show on_cancel={JS.patch(~p"/tests")}>
  <.live_component module={TestiroomWeb.TestLive.Components.NewTest} id="new-test" title={@page_title} test={@test} current_user={@current_user} />
</.modal>
