<.header>
  <%= gettext("Listing Tests") %>
  <:actions>
    <.link patch={~p"/tests/new"}>
      <.button><%= gettext("New Test") %></.button>
    </.link>
  </:actions>
</.header>

<.table
  id="tests"
  rows={@streams.tests}
  row_click={fn {_id, test} -> JS.navigate(~p"/tests/#{test}/proctor") end}
>
  <:col :let={{_id, test}} label={gettext("Title")}><%= test.title %></:col>
  <:col :let={{id, test}} label={gettext("Starts at")}>
    <span
      id={"test-#{id}-starts-at"}
      phx-hook="DateTimeWithTZSetter"
      data-datetime={test.starts_at}
    >
      <%= test.starts_at %>
    </span>
  </:col>
  <:col :let={{id, test}} label={gettext("Ends at")}>
    <span id={"test-#{id}-ends-at"} phx-hook="DateTimeWithTZSetter" data-datetime={test.ends_at}>
      <%= test.ends_at %>
    </span>
  </:col>
  <:action :let={{id, test}}>
    <button id={"#{id}-link"} phx-hook="LinkCopier" data-link={~p"/tests/#{test}/exam"}>
      <%= gettext("Copy Link") %>
    </button>
  </:action>
  <:action :let={{_id, test}}>
    <.link navigate={~p"/tests/#{test}"}>
      <%= gettext("Edit") %>
    </.link>
  </:action>
  <:action :let={{id, test}}>
    <.link
      phx-click={JS.push("delete", value: %{id: test.id}) |> hide("##{id}")}
      data-confirm={gettext("Are you sure?")}
    >
      <%= gettext("Delete") %>
    </.link>
  </:action>
</.table>

<.modal :if={@live_action == :new} id="test-modal" show on_cancel={JS.patch(~p"/tests")}>
  <.live_component
    module={TestiroomWeb.TestLive.Components.TestForm}
    id="new-test"
    title={@page_title}
    test={@test}
    current_user={@current_user}
    action={:new}
  />
</.modal>
