<.header>
  Test <%= @test.id %>
  <:subtitle>This is a test record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/tests/#{@test}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit test</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @test.title %></:item>
  <:item title="Description"><%= @test.description %></:item>
  <:item title="Starts at"><%= @test.starts_at %></:item>
  <:item title="Ends at"><%= @test.ends_at %></:item>
  <:item title="Duration in seconds"><%= @test.duration_in_seconds %></:item>
  <:item title="Show correctness for student"><%= @test.show_correctness_for_student %></:item>
  <:item title="Show score for student"><%= @test.show_score_for_student %></:item>
  <:item title="Show grade for student"><%= @test.show_grade_for_student %></:item>
  <:item title="Show answer for student"><%= @test.show_answer_for_student %></:item>
</.list>

<.back navigate={~p"/tests"}>Back to tests</.back>

<.modal :if={@live_action == :edit} id="test-modal" show on_cancel={JS.patch(~p"/tests/#{@test}")}>
  <.live_component module={TestiroomWeb.TestLive.FormComponent} id={@test.id} title={@page_title} action={@live_action} test={@test} patch={~p"/tests/#{@test}"} />
</.modal>
