<div>
  <h2 class="select-none text-2xl font-medium">
    <%= restore_new_lines(@current_answer.task.question) %>
  </h2>
  <%= if assigns[:ends_at] do %>
    <div id="test-timer" class="text-ink-dark-gray mt-2 text-center" phx-hook="TestTimer" phx-update="ignore" data-ends-at={@ends_at}>
      <%= div(@ends_after, 60) %>:<%= rem(@ends_after, 60) %>
    </div>
  <% end %>
</div>

<div class="w-full">
  <.live_component id="answer-form" answer={@current_answer} module={TestiroomWeb.ExamLive.Components.AnswerForm} />
</div>

<nav class="flex w-full flex-col items-center gap-2.5">
  <div>
    <%= @order + 1 %> <%= gettext("/") %> <%= @max_order + 1 %>
  </div>
  <div class="flex w-full gap-2.5">
    <.button tag={:link} patch={~p"/exams/#{@attempt}/#{@previous_order}"} kind={if @order == 0, do: :tall_outline_inactive, else: :tall_outline} class="w-full">
      <%= gettext("Previous") %>
    </.button>
    <.button tag={:link} patch={~p"/exams/#{@attempt}/#{@next_order}"} kind={if @order == @max_order, do: :tall_outline_inactive, else: :tall_outline} class="w-full">
      <%= gettext("Next") %>
    </.button>
  </div>
  <div class="w-full">
    <.button kind={:tall} class="w-full" phx-click={show_modal("review-modal")}>
      <%= gettext("Review") %>
    </.button>
    <.bottom_modal id="review-modal">
      <ul class="mb-16 flex w-auto flex-wrap gap-2.5">
        <li :for={{order, answer} <- @answers}>
          <.button
            tag={:link}
            kind={
              cond do
                order == @order -> :page_outline
                answer.text_input || answer.selected_options != [] -> :page
                true -> :page_outline_inactive
              end
            }
            patch={~p"/exams/#{@attempt}/#{order}"}
          >
            <div class="flex h-full items-center justify-center">
              <%= order + 1 %>
            </div>
          </.button>
        </li>
      </ul>
      <.button kind={:tall} class="w-full" phx-click="wrap-up"><%= gettext("Wrap up") %></.button>
    </.bottom_modal>
  </div>
</nav>
